<div class="container"></div>
    <div class="row mt-5">   
        {{!-- <img src="../public/assets/img/1241302.png" class="img-fluid" alt="burger_img"> --}}
    </div>

    <div class="row mt-3">   
        <h1 class="text-center">Eat-Da-Burger!</h1>
    </div>

    <div class="row">
        <ul class="col-md-6">
            {{#each burgers}}
                {{#unless devoured}}
                    <div class="text-center">
                        <h5>{{this.burger_name}}</h5>
                    </div>
                {{/unless}}
            {{/each}}
        </ul>

        <ul class="col-md-6">
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="text-center">
                        <h5>{{burger_name}}</h5>
                    </div>
                {{/if}}
            {{/each}}
        </ul>
    </div>

    <div class="row mt-3"> 
        <form class="col-md-3 mx-auto" id="newBurger">
            <textarea name="newBurgerText" class="form-control" rows="3"></textarea>
            <div class="div text-center">
                <button 
                    type="submit" 
                    class="btn btn-primary mt-2">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <div class="div text-center mt-2">
        <p>Enter a burger you want to eat, then; click the "Submit" button!</p>
    </div>
</div>

<script type="text/javascript">
    const burgButton = document.getElementById('newBurger');

    burgButton.addEventListener('submit', (e) => {
        e.preventDefault();

    const newBName = {
      newBurgerText: document.getElementsByName('newBurgerText')[0].value.trim()
    }
    console.log(newBName);

    fetch("/api/burgers", {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },

      body: JSON.stringify(newBName)
    })
      .then((response) => {
        document.getElementsByName('newBurgerText')[0].value = ''
        location.reload()
      });
  })
</script>